# Ambientes virtuais
.venv/
venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Configurações de IDEs
.vscode/
.idea/

# Arquivos temporários
*.log
*.tmp
*.swp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Dependências geradas (ex: pip freeze)
pip-wheel-metadata/
*.egg-info/
